<footer>
    <ul id="fNav">
        <%for(let i=0; i<nav.length; i++){%>
            <li id="fList"><a href="/<%= nav[i]%>" id="fAnchor"><%= nav[i]%></a></li>
           <%}%>
    </ul>
    <p id="fParagraph">copyright &copy; 2023 Sulaimon Rasheed. All rights reserved.</p>
</footer> 
</html>