<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/app.css" />
    <title>About | Sulaimon-Rasheed</title>
  </head>
  <body>
    <%- include("partials/headers"); -%>
    <main>
      <h1>I am Sulaimon Rasheed</h1>
      <div id="intro">
      <P
        >A software developer living in Lagos, Nigeria. I profer solutions to
        business problems <br />
        and improve performances with the use of world class business logic
        <br />to build robust <strong>backend softwares</strong> that are
        problem solving oriented.
      </P>

      <p>
        Over the years, I have gained experience in variaties of areas
        like building API <br>and Web servers, Database management and Product
        management.
      </p>
      <p>
        I am passionate about building scalable and high performance <br/>API and Web
        servers that meets users need.
      </p>
      <p>
        In terms of technical skills, I am profficient in various
        programming languages <br>like html, css, Javascript, Node.js/Express.js, Next.js and Typescript. Therefore, 
        <br>being able to work both in the frontend and backend.
      </p>
      <p>
        I have experience using Express framework with a clean Archetecture.
        <br/>I am confortable working with mySQL and mongoDB as data storage.
      </p>
      <p>
        I approach every project with an open mind and a willingness <br />
        to learn from others and I strive to build strong <br />
        positive relationships with my colleagues and clients.
      </p>

      <p>
        My personal values are humility, kindness, empathy, <br />accountabilty,
        coordinating and teaching.
      </p>

      <p>
        In my free time, I enjoy cracking jokes,<br />
        staying active through exercise and playing video games.
      </p>

      <p>
        Thank you for taking the time to learn more about me. <br />
        I am excited to connect with you and explore how we can work together
        <br />
        to create meaningful solutions to business problems.
      </p>
      </div>
      <img
        src="../public/Screenshot_20231021_145400.jpg"
        alt="sulaimon's image"
        id="aboutImage"
      />
    </main>
    <%- include("partials/footers"); -%>
  </body>
</html>
