<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../public/app.css" />
   <title>Projects | Sulaimon-Rasheed</title>
</head>
<body>
   <%- include("partials/headers"); -%>
   <main>
      <h1>Making the world a better place with a line of code.</h1>
      <p><em>Digitizing every facet of human activities is a motivation for me. It drives me every second 
      to visit my code editor to write a line a code that will take the global ecosystem to the next level.</em></p>
      <p>Among others are;</p>
   <ul id="projectContainer">
      <li>
         <img src="../public/android-chrome-192x192.png" alt="infotek-logo" class="projectLogo">
         <p><strong>Infotek</strong> is a blogging app with amazing functionalities where you can open a personal account to post tech related articles
         for all to read.</p>
         <img src="../public/web_logo.jpg" alt="web-logo" class="linkLogo">
         <span><a href="https://infotek.onrender.com">infotek.onrender.com</a><span>
      </li>
      <li>
         <img src="../public/fix_logo.png" alt="fix-logo" class="projectLogo">
         <p><strong>Fix</strong> is to-do app you can use to record tasks and get notified as due date approaches
         in order to avoid forgetfullness and consequently makes you meetup with promises and targets.</p>
         <img src="../public/web_logo.jpg" alt="web-logo" class="linkLogo">
        <span><a href="https://fix-and-do.onrender.com">fix-and-do.onrender.com</a></span>
      </li>
      <li>
         <img src="../public/think-fast-logo.png" alt="think-fast-logo" class="projectLogo">
         <p><strong>Think-fast</strong> is a children game application where you are to answer 5 random questions in 30 seconds.
            It boost thinking speed especially for children.
         </p>
         <img src="../public/web_logo.jpg" alt="web-logo" class="linkLogo">
         <span><a href="https://think-fast.netlify.app">think-fast.netlify.app</a></span>
      </li>
   </ul>
   </main> 
   <%- include("partials/footers"); -%>
</body>
</html>


